# Student Alcohol Consumption

### Introduction:

This time you will download a dataset from the UCI.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv).

### Step 3. Assign it to a variable called df.

In [2]:
df=pd.read_csv("student-mat.csv")
pd.set_option("display.max_columns",None)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
df.loc[:,"school":"guardian"]

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father
...,...,...,...,...,...,...,...,...,...,...,...,...
390,MS,M,20,U,LE3,A,2,2,services,services,course,other
391,MS,M,17,U,LE3,T,3,1,services,services,course,mother
392,MS,M,21,R,GT3,T,1,1,other,other,course,other
393,MS,M,18,R,LE3,T,3,2,services,other,course,mother
394,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 5. Create a lambda function that will capitalize strings.

In [7]:
capitalizer=lambda x:x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [8]:
df["Mjob"].apply(capitalizer)
df["Fjob"].apply(capitalizer)

0       Teacher
1         Other
2         Other
3      Services
4         Other
         ...
390    Services
391    Services
392       Other
393       Other
394     At_home
Name: Fjob, Length: 395, dtype: object

### Step 7. Print the last elements of the data set.

In [10]:
print(df.tail(5))

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  services  services
391     MS   M   17       U     LE3       T     3     1  services  services
392     MS   M   21       R     GT3       T     1     1     other     other
393     MS   M   18       R     LE3       T     3     2  services     other
394     MS   M   19       U     LE3       T     1     1     other   at_home

     reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
390  course    other           1          2         2        no    yes  yes
391  course   mother           2          1         0        no     no   no
392  course    other           1          1         3        no     no   no
393  course   mother           3          1         0        no     no   no
394  course   father           1          1         0        no     no   no

    activities nursery higher internet romantic  famrel  freetime  goout  \
390         no     yes    yes       no       no       5         5      4
391         no      no    yes      yes       no       2         4      5
392         no      no    yes       no       no       5         5      3
393         no      no    yes      yes       no       4         4      1
394         no     yes    yes      yes       no       3         2      3

     Dalc  Walc  health  absences  G1  G2  G3
390     4     5       4        11   9   9   9
391     3     4       2         3  14  16  16
392     3     3       3         3  10   8   7
393     3     4       5         0  11  12  10
394     3     3       5         5   8   9   9

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and capitalize Mjob and Fjob.

In [12]:
df["Mjob"]=df["Mjob"].apply(capitalizer)
df["Fjob"]=df["Fjob"].apply(capitalizer)
print(df.tail())

    school sex  age address famsize Pstatus  Medu  Fedu      Mjob      Fjob  \
390     MS   M   20       U     LE3       A     2     2  Services  Services
391     MS   M   17       U     LE3       T     3     1  Services  Services
392     MS   M   21       R     GT3       T     1     1     Other     Other
393     MS   M   18       R     LE3       T     3     2  Services     Other
394     MS   M   19       U     LE3       T     1     1     Other   At_home

     reason guardian  traveltime  studytime  failures schoolsup famsup paid  \
390  course    other           1          2         2        no    yes  yes
391  course   mother           2          1         0        no     no   no
392  course    other           1          1         3        no     no   no
393  course   mother           3          1         0        no     no   no
394  course   father           1          1         0        no     no   no

    activities nursery higher internet romantic  famrel  freetime  goout  \
390         no     yes    yes       no       no       5         5      4
391         no      no    yes      yes       no       2         4      5
392         no      no    yes       no       no       5         5      3
393         no      no    yes      yes       no       4         4      1
394         no     yes    yes      yes       no       3         2      3

     Dalc  Walc  health  absences  G1  G2  G3
390     4     5       4        11   9   9   9
391     3     4       2         3  14  16  16
392     3     3       3         3  10   8   7
393     3     4       5         0  11  12  10
394     3     3       5         5   8   9   9

### Step 9. Create a function called majority that returns a boolean value to a new column called legal_drinker (Consider majority as older than 17 years old)

In [13]:
def func(x):
    if x>17:
        return True
    else:
        return False

In [14]:
df["stud_aclhohol"]=df["age"].apply(func)
df.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,stud_aclhohol
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,2,2,0,yes,no,no,no,yes,yes,no,no,4,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,At_home,Other,course,father,1,2,0,no,yes,no,no,no,yes,yes,no,5,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,At_home,Other,other,mother,1,2,3,yes,no,yes,no,yes,yes,yes,no,4,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,Health,Services,home,mother,1,3,0,no,yes,yes,yes,yes,yes,yes,yes,3,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,Other,Other,home,father,1,2,0,no,yes,yes,no,yes,yes,no,no,4,3,2,1,2,5,4,6,10,10,False

### Step 10. Multiply every number of the dataset by 10. 
##### I know this makes no sense, don't forget it is just an exercise

In [17]:
def func1(x):
    if type(x) is int:
        return 10*x
    return x

In [18]:
df.applymap(func1).head(10)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian,traveltime,studytime,failures,schoolsup,famsup,paid,activities,nursery,higher,internet,romantic,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,stud_aclhohol
0,GP,F,180,U,GT3,A,40,40,At_home,Teacher,course,mother,20,20,0,yes,no,no,no,yes,yes,no,no,40,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,At_home,Other,course,father,10,20,0,no,yes,no,no,no,yes,yes,no,50,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,At_home,Other,other,mother,10,20,30,yes,no,yes,no,yes,yes,yes,no,40,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,Health,Services,home,mother,10,30,0,no,yes,yes,yes,yes,yes,yes,yes,30,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,Other,Other,home,father,10,20,0,no,yes,yes,no,yes,yes,no,no,40,30,20,10,20,50,40,60,100,100,False
5,GP,M,160,U,LE3,T,40,30,Services,Other,reputation,mother,10,20,0,no,yes,yes,yes,yes,yes,yes,no,50,40,20,10,20,50,100,150,150,150,False
6,GP,M,160,U,LE3,T,20,20,Other,Other,home,mother,10,20,0,no,no,no,no,yes,yes,yes,no,40,40,40,10,10,30,0,120,120,110,False
7,GP,F,170,U,GT3,A,40,40,Other,Teacher,home,mother,20,20,0,yes,yes,no,no,yes,yes,no,no,40,10,40,10,10,10,60,60,50,60,False
8,GP,M,150,U,LE3,A,30,20,Services,Other,home,mother,10,20,0,no,yes,yes,no,yes,yes,yes,no,40,20,20,10,10,10,0,160,180,190,False
9,GP,M,150,U,GT3,T,30,40,Other,Other,home,mother,10,20,0,no,yes,yes,yes,yes,yes,yes,no,50,50,10,10,10,50,0,140,150,150,False